@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
*{
	margin: 0;
	padding: 0;
}
.nav{
	background-color: #7A0D00;
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 99;
}
.nav ul{
	float: right;
	padding: 30px 60px;
}
.nav li{
	display: inline;
	padding: 0px 30px;
	color: #f1d803;
	font-family: 'Markazi Text', serif;
	font-size: 22px;
	cursor: pointer;
}
.logo{
	padding: 0px 20px;
	position: absolute;
}
.content{
	font-family: 'Markazi Text', serif;
	height: 4400px;
}
p{
	color: white;
}
.can2ben{
	padding: 5% 15% 0px;
}
.noidung1{
	background-image: url("backgrmicay.jpg");
	height: 820px;
	background-size: cover;
	background-position: center;
	padding-top: 80px;
}
.noidung2{
	height: 600px;
	background-image: url("pngtree-catering-menu-background-material-image_138550.jpg");
	background-position: bottom;
	background-size: cover;
	opacity: 0.95;
}
.tieude{
	font-size: 25px;
	color: #FFDD00;
	text-align: center;
	padding-bottom: 30px;
}
.tieude img{
	margin-top: 10px;
}
.noidung2 p{
	margin-bottom: 50px;
	font-size: 23px;
}
.gioithieu{
	margin-bottom: 20px;
}
.hinhanhbentrai{
	background-image: url("untitled-5-7866.png");
	background-size: cover;
	background-position: center;
	float: left;
	width: 50%;
	height: 60%;
}
.noidungbenphai{
	float: right;
	width: 45%;
	margin-top: 40px;
}
.noidungbenphai h1{
	color: #FFDD00;
	font-size: 50px;
}
.noidung3{
	background-image: url("bg.png");
	height: 1000px;
	text-align: center;
}
.bonmonchinh input{
	color: #A41100;
}
.noidung3 input{
	background-color: transparent;
	border: none;
	margin: 0 25px;
	width: 90px;
	height: 10px;
	color: yellow;
	font-size: 22px;
	cursor: pointer;
	padding-bottom: 80px;
}
.floatleft{
	float: left;
	width: 47%;
}
.floatright{
	float: right;
	width: 47%;
}
.o1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}
.o1 p{
	font-size: 22px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.food-item{
	display: flex;
}
.food-item p{
	display: flex;
	align-items: center;
}
.food-item img{
	width: 150px;
	height: 150px;
	margin-right: 30px;
}
.noidung4{
	height: 1000px;
	background-image: url("background-go.jpg");
}
.noidung4 h1{
	color: #FFDD00;
	text-align: center;
}
.noidung4 h2{
	color: white;
}
.noidung4 .hinh1{
	float: left;
	width: 33%;
}
.noidung4 .hinh2{
	float: left;
	width: 33%;
}
.noidung4 .hinh3{
	float: left;
	width: 33%;
}
.hinhbentren{
	display: flex;
	justify-content:space-around;
	margin-bottom: 40px;
}
.hinhbenduoi .hinh1{
	float: left;
	width: 50%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.hinhbenduoi .hinh2{
	float: right;
	width: 45%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.hinhbenduoi .hinh3{
	float: left;
	width: 50%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.hinhbenduoi .hinh4{
	float: right;
	width: 45%;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.hinh1 h3{
	color: white;
}
.sizeanh img{
	width: 400px;
}
.sizeanh{
	padding: 10px 40px;
}
.noidung5{
	background-image: url("bg.png");
	height: 600px;
}
.noidung5 h1{
	color: #FFDD00;
}.noidung5 h2{
	color: orange;
}
.noidung5 .phanhoi img{
	margin-bottom: 30px;
}
.noidung5 .bentrai img{
	height: 150px;
}
.noidung5 .bentrai{
	margin-top: 50px;
	width: 40%;
}
.noidung5 .benphai{
	margin-top: 50px;
}
.noidung5 .benphai img{
	height: 150px;
}
.nutnexttrai{
	float: left;
	width: 5%;
	padding-top: 150px;
	cursor: pointer;
}
.nutnextphai{
	float: right;
	width: 5%;
	padding-top: 150px;
	cursor: pointer;
}
.footer{
	background-image: url("footer.jpg");
	height: 250px;
	display: flex;
	justify-content:space-around;
	padding: 60px 30px 0px;
	color: white;
}
.vechungtoi{
	width: 40%;
}
.duongdan{
	width: 15%;
}
.footer hr{
	background-color:#FF2700;
	width: 40px;
	height: 2px;
	border: none;
	margin: 5px 0px 10px;
}


